@charset "utf-8";

/*메인슬라이더*/
.mainSlider{
    position:relative;
}
.mainSlider img{
    width:100%;
    display:block;
}

.sliderBtn{
    position:absolute;
}
.sliderBtn li{
    text-indent:-9999px;
}
.sliderBtn li a{}

.sliderLBtn{
    left:10px;
    bottom:10px;
}
.sliderLBtn li{
    width:16px;
    height:16px;
    background:url(../images/main/blet_visual.png) no-repeat;
    float:left;
    margin-right:5px;
}
.sliderLBtn li:first-child{
    background-position:0 -16px;
}
.sliderRBtn{
    right:0;
    bottom:0;
}
.sliderRBtn li{
    float:left;
    width:45px;
    height:45px;
    background:url(../images/main/btn_visual_cnt.png) no-repeat -46px 0;
    margin-left:1px;
}

.sliderRBtn li:first-child{
    background-position:0 0;
}
.sliderRBtn li:last-child{
    background-position:-92px 0;
}

/*메인컨텐츠01*/
.mainCon01{}
.mainCon01 h2{
    text-align:center;
    padding:20px 0;
}
.mainCon01 h2 img{
    width:150px;
    
}

.con01List{}
.con01List li{
    background:url(../images/main/brandSite_img01.jpg) no-repeat center center;
    background-size:cover;
    margin-bottom:2px;
}
.con01List li:nth-child(2){
    background-image:url(../images/main/brandSite_img02.jpg);
}
.con01List li:last-child{
    background-image:url(../images/main/brandSite_img03.jpg);
}
.con01List li a{
    color:#fff;
    display:block;
    padding:20px;
}
.con01List li h3{
    font-size:25px;
    font-weight:normal;
    padding-top:30%;
}
.con01List li p{}


/*메인컨텐츠02*/
.mainCon02{}
.mainCon02 li{
    width:calc(50% - 1px);/*가변인 상태에서 픽셀값을 빼주는 방법*/
    float:left;
    background:#1c97fe;
    margin-right:2px;
    margin-bottom:2px;
}
.mainCon02 li:nth-child(2n){margin-right:0;}
.mainCon02 li a{
    color:#fff;
}
.mainCon02 li img{
    width:100%;
    display:block;
}

.con02Info{
    padding:15px;
}
.con02Info h4{
    font-size:15px;
    margin-bottom:15px;
}
.con02Info p{
    font-size:12px;
}

/*메인컨텐츠03*/
.mainCon03{}
.mainCon03 h2{
    text-align:center;
    padding:20px 0;
}
.mainCon03 h2 img{
    width:180px;
}

.con03List{
    overflow:hidden;
}
.con03List a{
    display:flex;/*이미지를 띄웠기때문에 위치를 flex로 안잡아주면 이미지는 보이지않음.*/
}
.con03List a>div{
    width:50%;
    float:left;
}
.mainCon03>div .con03List:nth-child(2n) a{
    flex-direction:row-reverse;
}
/*.con03List:nth-child(2n) a{flex-direction:row-reverse;} 위랑 같은값*/

.con03Img{
    position:relative;
}
.con03Img img{
    max-width:100%;
    max-height:100%;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;/*absolute로 띄우고, 중앙정렬하는방법*/
}

.con03Txt{
    background:#f1f1f1;
    padding:20px;
    box-sizing:border-box;
}
.con03Txt h3{}
.con03Txt p{
    font-size:11px;
    margin-top:10px;
    letter-spacing:1px;
}





